rename_brain_parcellation.py
done
tmp
build
*.egg-info
*.so
*.sh
output
submissions
ckpts
logs
backup
__pycache__
experiments/deepmedic*
experiments/unet*
experiments/munet*
*.tar
*.txt
*.zip
*.7z
*.nii.gz
*.nii